.sessionContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  justify-self: center;
}

.sessionItem {
  flex: 1 1 200px;
  padding: 15px;
  border: 1px solid #000000;
  border-radius: 8px;
  background-color: lightblue;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}